@charset "utf-8";
/* CSS Document */


.contador {text-align:center}

.contador .label {font-size: 5px; font-weight:600; letter-spacing:1px; position:relative;}

.contador .block {display: inline-block; padding-top: 0px; margin: 0 0px 0px;  width: 10%; font-size: 15px; font-weight:bold; }

.contador .conta {padding: 0px 31px 0px 2px;}
